.wrapper {       
 grid-template-columns: 55% 45%;
 grid-template-areas:
    'header header'
    'photo1 contact'
    'footer footer';
}
    
.header {
 grid-area: 1 / 1 / span 1 / span 2;
}

.contact {
 grid-area: 2 / 2 / span 1 / span 2;
 padding: 20% 0px 0px 10%;
}

.photo1 {
 grid-area: 2 / 1 / span 1 / span 1;
}

.footer {
 grid-area: 3 / 1 / span 1 / span 2;
}