.wrapper {        
    grid-template-columns: 45% 10% 45%;
    grid-template-areas:
        'header header header'
        'landing landing landing'
        'logos logos logos'
        'bio bio bio'
        'photo2 photo2 github'
        'codewars photo3 photo3'
        'react-projects react-projects react-projects'
        'projects projects projects'
        'training training training'
        'contact contact contact'
        'footer  footer  footer';
}

.header {
    grid-area: 1 / 1 / span 1 / span 3;
    padding: 40px 0px;
    height: 90px;
}

.landing {
    grid-area: 2 / 1 / span 1 / span 3;
    margin: 0px 0px 0px 0px;
    align-items:flex-end;
    padding:0px 0px 0px 0px;
    display:flex;
    flex-wrap:wrap;
}

.landing-content {
    width:350px;
    flex-grow:1;
    justify-content:last baseline; 
    padding:10% 20px 0px 20px;
}

.landing-photo {
    width:400px;
    flex-grow:1;
    padding:20px 0px 0px 0px;
}

.logos {
    grid-area: 3 / 1 / span 1 / span 3;
    margin: 5% 0px 5% 0px;
}

.bio {
    grid-area: 4 / 1 / span 1 / span 3;
}

.photo2 {
    grid-area: 5 / 1 / span 1 / span 2;
    padding: 20% 0px 0px 0px;
    margin: 0px 50px;
    float: left;
}

.github {
    grid-area: 5 / 3 / span 1 / span 1;
    padding: 30% 0px 0px 10%;
    margin: 10px 0px;
}

.codewars {
    grid-area: 6 / 1 / span 1 / span 1;
    padding: 20% 10% 60px 0px;
    margin: 20px 10px;
}

.photo3 {
    grid-area: 6 / 2 / span 1 / span 2;
    padding: 20% 0px 120px 0px;
    margin: 0px 50px;
}

.react-projects {
    grid-area: 7 / 1 / span 1 / span 3;
}

.projects {
    grid-area: 8 / 1 / span 1 / span 3;
    margin-top: 200px;
}

.projects-description {
    width: 100%;
    padding: 20px;
    font-size: 14px;
}

.training {
    grid-area: 9 / 1 / span 1 / span 3;
    padding: 40px 0px 0px 0px;
    margin:5% 0px;
    width:100%
}

.training-card {
    margin: 20px;
    padding:20px;
    width:200px;
    flex-grow:1;
    text-align: center;
}

.contact {
    grid-area: 10 / 1 / span 1 / span 3;
}

#bottom-contact-card {
    margin-bottom: 10%;
}

.footer {
    grid-area: 11 / 1 / span 1 / span 3;
    padding: 0px;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

@media only screen and (max-width: 600px) {

    .wrapper {        
        grid-template-columns: 100%;
        grid-template-areas:
            'header'
            'landing'
            'logos'
            'bio'
            'github'
            'photo2'
            'codewars'
            'photo3'
            'projects'
            'training'
            'contact'
            'footer';
    }
    
    .header {
        grid-area: 1 / 1 / span 1 / span 1;
        padding: 40px 0px;
        height: 90px;
    }
    
    .landing {
        grid-area: 2 / 1 / span 1 / span 1;
        margin: 0px 0px 0px 0px;
        align-items:flex-end;
        padding:0px 0px 0px 0px;
        display:flex;
        flex-wrap:wrap;
    }
    
    .logos {
        grid-area: 3 / 1 / span 1 / span 1;
        margin: 5% 0px 5% 0px;
    }
    
    .bio {
        grid-area: 4 / 1 / span 1 / span 1;
    }

    .github {
        grid-area: 5 / 1 / span 1 / span 1;
        padding: 10% 10% 30px 10%;
        margin: 20px 0px 0px 0px;
    }

    .photo2 {
        grid-area: 6 / 1 / span 1 / span 1;
        padding: 0px 10% 10% 10%;;
        float: none;
    }
    
    .card-content {
        padding: 20px 0px 0px 0px;
    }

    .codewars {
        grid-area: 7 / 1 / span 1 / span 1;
        padding: 10% 10% 30px 10%;;
        margin: 0px;
    }
    
    .photo3 {
        grid-area: 8 / 1 / span 1 / span 1;
        padding: 0px 10% 10% 10%;;
    }

    .react-projects {
        grid-area: 9 / 1 / span 1 / span 1;
    }
    
    .projects {
        grid-area: 10 / 1 / span 1 / span 1;
    }

    .projects-description {
        width: 100%;
        padding: 20px 0px 0px 0px;
    }
    
    .training {
        grid-area: 11 / 1 / span 1 / span 1;
        padding: 40px 0px 0px 0px;
        margin:5% 0px;
        width:100%
    }
    
    .contact {
        grid-area: 12 / 1 / span 1 / span 1;
    }
    
    #bottom-contact-card {
        margin-bottom: 60px !important;
    }

    .card-image-bottom {
        transform: none;
        padding-top: 30px;
    }

    .footer {
        grid-area: 13 / 1 / span 1 / span 1;
        padding: 0px;
    }

    .footer-main {
        margin-left: 0px;
    }

}